<h3>All Farms ⭐</h3>

<p><a href="/farms/new">Add new farm </a></p>

<table class="listTable">
<tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone number</th>
    <th>Edit Farm</th>


</tr>
<tr>

<% @farms.each do |farm| %>
  <td>
        <a href="/farms/<%= farm.id %>">
        <%= farm.name  %>
      </a>
  </td>
  <td>
    <%= farm.address  %>
  </td>

  <td>
    <%= farm.phone_num  %>
  </td>

  <td>
    <a href="/farms/<%= farm.id %>/edit">Edit</a>
  </td>
</tr>

<% end %>
</<table>
