<h1> <%= @farm.name %> </h1>



<p>Address: <%= @farm.address %> </p>
<p>Phone Number: <%= @farm.phone_num %> </p>

<br/>



<p>
  <% results = [] %>
  <% @farm.product.each do |product| %>
   <a href = "/products/<%=product.id%>"><img src = "<%= product.description%>" alt="<%= product.name %>" height="auto" width="100px"></a>
  <% end %>
</p>



<div class="submit-button">
<form method="get" action="<%= @farm.id %>/edit">
<input type="submit" value="Edit Farm"/>
</form>

<form method="post" action="/farms/<%= @farm.id %>/delete">
<input type="submit" value="Delete Farm">
</form>
<div>
