<h2>Edit <%= @product.name  %></h2>

<form class="edit-product" action="/products/<%=@product.id  %>" method="post">

  <label for="product-name">Product name: </label>
  <input type="text" name="name" id="product-name" value="<%=@product.name %>" required >

  <br/>

  <label for="product-description"> Description: </label>
  <input type="url" name="description" id="product-description" value=" <%=@product.description  %>" required> <small>* url only</small>
  <br/>


  <label for="product-stock"> Stock: </label>
  <input type="number" step="0.1" min="0" max="10" name="stock" id="product-stock" value="<%= @product.stock %>" required>

  <br/>


  <label for="product-cost"> Cost: </label>
  <input type="number" step="0.5" min="0"name="cost" id="product-cost" value="<%= @product.cost %>" required> <small> p </small>

  <br/>


  <label for="product-price"> Price: </label>
  <input type="number" step="0.5" min="0" name="price" id="product-price" value="<%= @product.price %>" required> <small> p </small>

  <br/>


  <label for="farm-select"> Select Farm: </label>
    <select class="farm-select" name="farm_id" selected = "<%= @product.farm_id %>" required>
      <% @farms.each do |farm| %>
      <% if farm.id == @product.farm_id %>
      <option value="<%= farm.id %> selected"> <%=farm.name.split.map(&:capitalize).join(' ') %>
      <% else %>
      <option value="<%=farm.id%>"><%=farm.name.split.map(&:capitalize).join(' ') %></option>
      </option>
      <% end %>
    <% end %>
    </select>


  <br/>


  <input type="submit" value="Update Product">

  </form>


  <form method="post" action="/products/<%=@product.id %>/delete">


  <input onclick="deleteComfirm()" type="submit" value="Delete Product"/>

  <script>

  function deleteComfirm() {
    confirm(" Are you sure you want to delete this thingy? ");
  }

  </script>



  </form>
