<h1>All Products</h1>

<p><a href="/products/new">Add new product </a></p>


<table class="listTable">

<tr>
  <th>Name</th>
  <th>Stock</th>
  <th>Cost</th>
  <th>Price</th>
  <th>Markup</th>
  <th>Edit Product</th>

</tr>

<% @products.each do |product| %>

<tr>
    <td>
       <a href="/products/<%= product.id %>">
        <%= product.name  %>
      </a>

    </td>

    <td>
      <% if product.stock > 2.0 %>
      <%= product.stock %>
    <% elsif product.stock == 0.0 %>
      <span style="background-color: red"><%= "out of stock" %></span>  😱
    <% else  %>
      <span style="background-color: orange">  <%= product.stock %> <%= "low stock" %></span> 😟
    <% end%>
    </td>
  </p>

  <td>
    <%= product.cost  %> 🥜
  </td>

  <td>
    <%= product.price  %> 🥜
  </td>

  <td>
    <%= product.markup %> 🥜
  </td>

  <td>
    <a href="/products/<%= product.id %>/edit">Edit Product</a>
  </td>


</tr>
<% end %>
</table>


<h2> Expensive stuff </h2>
<!-- <table class="listTable"> -->
<% @products_price_above_10 .each do |product| %>
  <p>
      <a href="/products/<%= product.id %>">
        <%= product.name  %>
      </a>
  </p>
  <p> price:
    <%= product.price  %> 🥜
  </p>
<% end %>
<!-- </table> -->

<br/>

<h2> Stuff need to be on sale </h2>
<% @products_stock_above_10 .each do |product| %>
  <p>
      <a href="/products/<%= product.id %>">
        <%= product.name  %>
      </a>
  </p>
  <p> stock:
      <%= product.stock %>
  </p>
<% end %>
<br/>


<h2> Stuff need to import </h2>
<% @products_stock_below_2 .each do |product| %>
  <p>
      <a href="/products/<%= product.id %>">
        <%= product.name  %>
      </a>
  </p>
  <p>stock:
    <% if product.stock > 2.0 %>
      <%= product.stock %>
    <% elsif product.stock == 0.0 %>
      <span style="background-color: red"><%= "out of stock" %></span>  😱
    <% else  %>
      <span style="background-color: orange">  <%= product.stock %> <%= "low stock" %></span> 😟
    <% end%>
  </p>

<% end %>
<br/>
