<h1>All Products</h1>

<p><a href="/products/new">Add new product </a></p>

<% @products.each do |product| %>
  <h2>
      <a href="/products/<%= product.id %>">
        <%= product.name  %>
      </a>
  </h2>


  <p>stock:
    <% if product.stock > 2.0 %>
      <%= product.stock %>
    <% elsif product.stock == 0.0 %>
      <span style="background-color: red"><%= "out of stock" %></span>  😱
    <% else  %>
      <span style="background-color: orange">  <%= product.stock %> <%= "low stock" %></span> 😟
    <% end%>
  </p>


  <p> cost:
    <%= product.cost  %> 🥜
  </p>

  <p> price:
    <%= product.price  %> 🥜
  </p>

  <p>Markup:
    <%= product.markup %> 🥜
  </p>

  <p>
    <a href="/products/<%= product.id %>/edit">Edit Product</a>
  </p>

  <hr>
<% end %>
