<h1>All Products</h1>

<p><a href="/products/new">Add new product </a></p>

<% @products.each do |product| %>
  <h2>
      <a href="/products/<%= product.id %>">
        <%= product.name  %>
      </a>
  </h2>


  <p>Stock:
    <% if product.stock.to_f < 2.0 %>
    <mark><%= product.stock %></mark>
    <mark><%= "low stock" %></mark>

    <% elsif product.stock.to_f = 0.0 %>
    <mark><%= product.stock %></mark>
    <mark><%= "out of stock" %></mark>

    <% else  %>
    <%= product.stock %>

    <% end%>
  </p>



  <p> cost:
    <%= product.cost  %> 🥜
  </p>

  <p> price:
    <%= product.price  %> 🥜
  </p>

  <p>
    <a href="/products/<%= product.id %>/edit">Edit Product</a>
  </p>

  <hr>
<% end %>
