<h1> <%= @product.name  %></h1>

<p>Farm: <%= @product.farm.name %></p>
<p>Cost: <%= @product.cost %> 🥜</p>
<p>Price: <%= @product.price %> 🥜</p>
<p>Stock:
  <% if @product.stock.to_i > 2 %>
  <%= @product.stock %>
  <% elsif @product.stock = 0 %>
  <mark><%= "out of stock" %></mark>
  <% else  %>
  <mark><%= "low stock" %></mark>
  <% end%>
</p>


<form method="get" action="<%= @product.id %>/edit">
<input type="submit" value="Edit Product"/>
</form>


<form method="post" action="/products/<%= @product.id %>/delete">
<input type="submit" value="Delete Product"/>
</form>
